%hr/
= div_for(highlight) do
  %blockquote.highlighted-text= highlight.content
  %p.notes= highlight.notes
  .timestamp.mmt.mmb= ui_timestamp(highlight.created_at)
  %div.lmb
    = link_to 'Edit', [@text, highlight], class: 'btn btn-info'
    = link_to 'Remove', [@text, highlight], method: :delete, remote: true, class: 'btn btn-warning', data: { confirm: 'Are you sure?' }
